{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" style="min-height:100%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning mt-3 alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center">
                        <img src="{{ url_for('static', filename='images/profile icon.png') }}" class="image-size">
                        <p class="card-text text-colour text-centre mt-3">{{ user.get_name() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">
                    {% include "includes/profile_navbar/profile-navbar-addresses.html" %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">
                    <a href="{{ url_for('add_address') }}">
                        <button class="add-btn mb-4 mt-1">Add Address +</button>
                    </a>
                    <table class="w-100">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                        {% for address in addresses_list %}
                        {% if address.getid() == session['CurrentUser'] %}
                        <tr>
                            <td>{{ address.getname() }}</td>
                            <td>{{ address.getlocation() }}</td>
                            <td>
                                <a href="{{ url_for('edit_address', id=address.getlocationid()) }}" class="me-1">
                                    <button class="edit-btn">Edit</button>
                                </a>
                                <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#myModal_{{address.getlocationid()}}">Delete</button>

                                <!-- The Modal -->
                                <div class="modal" id="myModal_{{address.getlocationid()}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content text-black">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                            Are you sure you want to delete {{address.getname()}}
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <a href="{{url_for('delete_address', id=address.getlocationid())}}" class="me-1">
                                                    <button class="delete-btn">Delete</button>
                                                </a>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
