@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.background{
    background-color: #1D1C1B;
}

.text-centre{
    text-align: center;
}
.image-size{
    height: 300px;
    object-fit: contain;
}
.text-colour{
    color: white;
}

.card-border{
    border-radius: 10px;
    border: 5px solid #1D1C1B;
}

.login-background {
    width: 75%;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rewards-icon/15%.png");
}

.login-btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.login-btn:hover {
    background-color: #7fff88;
    color: white;
}

label {
    color: white;
}