@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.background{
    background-color: #1D1C1B;
}

.text-centre{
    text-align: center;
}
.image-size{
    height: 300px;
    object-fit: contain;
}
.text-colour{
    color: white;
}

.card-border{
    border: 5px solid #1D1C1B;
}
.login-background{
    background-image: url("../images/rewards-icon/15%.png");
}