@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.background {
    background-color: #1D1C1B;
}

.text-centre {
    text-align: center;
}

.image-size {
    height: 300px;
    object-fit: contain;
}

.text-colour {
    color: white;
}

.card-border {
    border-radius: 10px;
    border: 5px solid #1D1C1B;
}

.login-background {
    width: 75%;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rewards-icon/15%.png");
}

.login-btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.login-btn:hover {
    background-color: #7fff88;
    color: white;
}

label {
    color: white;
}

th {
    color: white;
    font-size: medium;
}

tr {
    color: white;
    font-size: medium;
}

.table {
    border: 2px solid white;

}

a {
    text-decoration: none;
}

.edit-btn {
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    background-color: #7fff88;
}

.delete-btn {
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    background-color: #ff5261;
}

.add-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #7fff88;
    width: 100%;
    font-size: large;
}

.add-btn:hover {
    background-color: #7fff88;
    color: white;
}

.back-btn {
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

.back-btn:hover {
    background-color: #2280ff;
    color: white;
}

.contact-image {
    object-fit: contain;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.nav-fill {
    border-radius: 10px;
}

.nav-pills {
    background-color: #1D1C1B;
}

.edit-profile-btn {
    padding: 5px 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.edit-profile-btn:hover {
    background-color: #7fff88;
    color: white;
}

.border {
    border: 1px solid white;
}

.shop-image {
    height: 250px;
    object-fit: contain;
}

.bigger-font {
    font-size: large;
}

.price {
    font-size: 200%;
    margin-right: 165px;
    margin-top: 20px;
}

.qty {
    font-size: 150%;
    margin-right: 250px;
}

.product-title {
    font-size: 120%;
}

.add-img-btn {
    background-color: white;
    border-radius: 10px;
}

.cart-background {
    background-color: #0D7D89;
}

.cart-image {
    height: 150px;
    object-fit: contain;
}

.remove-item-btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #ff5261;
    color: white;
}

.cart-image-payment {
    height: 100px;
    object-fit: contain;
}

.points-image {
    width: 75%;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rewards-icon/rewards-bg.png");
}

.reward-border {
    border-radius: 25px;
    border: 5px solid #1D1C1B;
}

.info-icon {
    height: 25px;
    object-fit: contain;
}

.redeem-btn {
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

.redeem-btn:hover {
    color: white;
    background-color: #7fff88;
}

.redeem-image {
    width: 75%;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/rewards-icon/10%.png");
}

.redeem {
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #95E5FF;
    color: white;
}

.redeem:hover {
    border: 3px solid #7fff88;
}

.enlarge {
    font-size: 150%;
}

.cart-address {
    text-decoration: underline;
}

.update-btn {
    padding: 7px 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.update-btn:hover {
    background-color: #7fff88;
}

.reset-btn {
    padding: 7px 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.reset-btn:hover {
    background-color: #2280ff;
}

.edit-qty-btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
}



