{% extends "admin/adminbase.html" %}
{% block content %}
    <h3 class="text-centre text-colour mt-5">Feedbacks</h3>
        <div class="row">
        <div class="col-12">
            <table class="table w-100">
                <tr>
                    <th>Email</th>
                    <th>Address Nickname</th>
                    <th>Address</th>
                </tr>
	            <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}