{% extends "admin/adminbase.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table w-100">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                {% for user in users_list %}
                <tr>
                    <td>{{ user.get_uid() }}</td>
                    <td>{{ user.get_name() }}</td>
                    <td>{{ user.get_email() }}</td>
                    <td>
                        <a href="{{url_for('editUsers', id=user.get_uid())}}" class="me-1">
                            <button class="edit-btn">Edit</button>
                        </a>
                        <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_uid()}}">Delete</button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{user.get_uid()}}">
                            <div class="modal-dialog">
                                <div class="modal-content text-black">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    Are you sure you want to delete {{user.get_email()}}
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a href="{{url_for('delete_user', id=user.get_uid())}}" class="me-1">
                                            <button class="delete-btn">Delete</button>
                                        </a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
