{% extends "admin/adminbase.html" %}
{% block content %}
    <h3 class="text-centre text-colour mt-5">Feedbacks</h3>
    <div class="row">
        <div class="col-12">
            <table class="table w-100">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
                {% for feedback in feedbacks_list %}
	            <tr>
                    <td>{{ feedback.get_uid() }}</td>
                    <td>{{ feedback.get_name() }}</td>
                    <td>{{ feedback.get_phonenumber() }}</td>
                    <td>{{ feedback.get_email() }}</td>
                    <td>{{ feedback.get_message() }}</td>
                    <td>
                        <a href="#">
                            <button class="delete-btn">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
