{% extends "base.html" %}
{% block content %}
    <h1 class="text-centre text-colour mt-5">Seiko Chronograph Quartz Watch</h1>
    <hr class="text-colour">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center">
                        <img src="{{ url_for('static', filename='images/seiko/watch1.png') }}" class="image-size">
                        <a class="card-text text-colour text-centre product-title" href="">Seiko Chronograph Quartz Watch</a>
                        <p class="card-text text-colour text-centre price">Price: $100</p>
                        <p class="card-text text-colour text-centre qty">Qty: 45</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center">
                        <h2 class="text-colour">Product Description</h2>
                        <p class="text-colour">Combining affordability and style, these watches really hit the mark and
                            offer an impressive
                            selection of men’s and ladies’ classic analogue and sports chronograph options. They feature
                            either solar or quartz movement for time accuracy, offering a wide choice of hard-wearing
                            fabric, durable silicone, or stainless steel bracelet.</p>
                    </div>
                    {{ formHelper.renderField(form.quantity) }}
                    <div class="d-flex justify-content-center mt-4">
                            <input type="submit" value="Add To Cart" class="login-btn">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}