<nav class="navbar navbar-expand-sm navbar-dark background">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:40px;">
        </a>
        <a class="navbar-brand" href="{{ url_for('home') }}">TimeVault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shop') }}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('contact') }}">Contact</a>
                </li>
                {% if 'Admin' not in session and 'CurrentUser' not in session %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Log In
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('login') }}">Log In</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('signup') }}">Sign Up</a></li>
                        </ul>
                    </li>
                {% elif 'CurrentUser' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile', id=session['CurrentUser']) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rewards', id=session['CurrentUser']) }}">Rewards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                {% endif %}
            </ul>
                <div class="d-flex align-items-center">
                    {% if 'CurrentUser' in session %}
                    <a href="{{ url_for('profile', id=session['CurrentUser']) }}">
                        <img src="{{ url_for('static', filename='images/profile icon.png') }}" style="width:40px;"
                             class="me-3">
                    </a>
                    <a href="{{ url_for('cart') }}">
                        <img src="{{ url_for('static', filename='images/cart.png') }}" style="width:30px;" class="me-3">
                    </a>
                    {% endif %}
                </div>
        </div>
    </div>
</nav>
