<nav class="navbar navbar-expand-sm navbar-dark background">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:40px;">
        </a>
        <a class="navbar-brand" href="{{ url_for('home') }}">TimeVault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shop') }}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Contact</a>
                </li>
                {% if 'Admin' in session or 'CurrentUser' in session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Log In
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Log In</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('signup') }}">Sign Up</a></li>
                    </ul>
                </li>
                {% elif 'CurrentUser' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rewards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('logout') }}">Log Out</a>
                </li>
                {% endif %}
            </ul>
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='images/profilelogo.png') }}" style="width:30px;" class="me-3">
                <img src="{{ url_for('static', filename='images/cart.png') }}" style="width:30px;" class="me-3">
            </div>
        </div>
    </div>
</nav>
