{% extends 'base.html' %}
{% block content %}
    <h1 class="text-centre text-colour mt-5">Your Cart</h1>
    <hr class="text-colour">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-border cart-background" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="ms-5 flex-grow-1">
                            <h3>Product title</h3>
                            <h5>Price</h5>
                            <h5>QTY</h5>
                        </div>
                        <div class="me-5">
                            <img src="{{ url_for('static', filename='images/seiko/watch1.png') }}" class="cart-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}