{% extends 'base.html' %}
{% block content %}
    <h1 class="text-centre text-colour mt-5">Checkout</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-border background" style="width: 100%;">
                <div class="card-body ">

                </div>
            </div>
        </div>
    </div>
{% endblock %}