{% extends 'base.html' %}
{% block content %}
    <h2 class="text-centre text-colour mt-5">Your Balance Is:</h2>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card reward-border points-image" style="width: 100%;">
                <div class="card-body d-flex justify-content-center">
                    <h3>{{ user.get_points() }}</h3>
                    <h4 class="ms-2 mt-1">Points</h4>
                </div>
            </div>
        </div>
    </div>
    <p class="text-centre text-colour mb-5"><img src="{{ url_for('static', filename='images/info_icon.png') }}"
                                            class="me-3 info-icon">10 points earned every $20 spent</p>
    {% include 'includes/rewards/reward-navbar.html' %}
    {% for coupon in coupons_list %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-9">
            <div class="card reward-border points-image" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex">
                        <h2 class="text-colour me-5 mt-2">{{ coupon.get_effect() }}%</h2>
                        <div>
                            <h4>{{ coupon.get_name() }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
