{% extends "base.html" %}
{% block content %}
    <h1 class="text-centre text-colour mt-5">Sign Up Now</h1>
    <br>
    <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            {{ formHelper.renderField(form.name) }}
                        </div>
                        <div class="mb-3">
                            {{ formHelper.renderField(form.email) }}
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                {{ formHelper.renderField(form.password) }}
                            </div>
                            <div class="col-lg-6 mb-3">
                                {{ formHelper.renderField(form.confirmPassword) }}
                            </div>
                        </div>
                        <input type="submit" value="Login" class="login-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}